extends ../layout
block title
    | Конкурсы
block content
    header
        .container
            .page-title
                h2 Конкурсы
                p Конкурсы проводится в целях привлечения внимания общества к вопросам развития культуры, сохранения культурно-исторического наследия
    #block-detail.content-block
        .container
            .row
                .col-lg-9
                    .section-title
                        h2 Рекомендуемые конкурсы
                    ul.konkurs-list.list-unstyled.clearfix
                        each product in products
                            li
                                .row
                                    .col-lg-9
                                        h5
                                            small Исследовательский конкурс<br>
                                            a(href="/product/#{product.url}")= product.title
                                    .col-lg-3.text-right
                                        if product.price
                                            a(href="/product/#{product.url}", class="btn btn-success btn-sm") #{product.price}&nbsp;руб.
                                        else
                                            a(href="/product/#{product.url}", class="btn btn-success btn-sm") Заявка
                .col-lg-3
                    .panel.panel-primary
                        .panel-heading: h4 Блоки конкурсов
                        .list-group
                            each section in sections
                                li(class="list-group-item"): a(href="/catalog/#{section.url}") #{section.title}