extends ../layout
block title
    | Конкурсы
block content
    header
        .container
            .page-title
                h2 План конкурсов на 2013-2014 учебный год
                p.
                    Конкурсы проводится в целях привлечения внимания общества к вопросам развития культуры, сохранения культурно-исторического наследия.<br>
                    В течение всего учебного года вы можете участвовать в конкурсах
    #block-detail.content-block
        .container
            .row
                .col-lg-9
                    .section-title
                        h2= section.title
                        p.lead #{section.description}
                    ul.konkurs-list.list-unstyled.clearfix
                        each product in products
                            li
                                .row
                                    .col-lg-9
                                        h5
                                            small= product.type
                                            a(href="/product/#{product.url}")= product.title
                                    .col-lg-3.text-right
                                        if product.price
                                            a(href="/product/#{product.url}", class="btn btn-success btn-sm") #{product.price}&nbsp;руб.
                                        else
                                            a(href="/product/#{product.url}", class="btn btn-success btn-sm") Заявка
                .col-lg-3
                    .panel.panel-primary
                        .panel-heading: h4 Блоки конкурсов
                        .list-group
                            each item in sections
                                a(href="/catalog/#{item.url}", class=(item.url == section.url)?'list-group-item active':'list-group-item') #{item.title}
