extends ../layout
block title
    = product.title
block content
    header
        .container
            .page-title
                h2= section.title
                p= section.description
    #block-detail.content-block
        .container
            .row
                .col-lg-9
                    h1= product.title
                    .row.about
                        .col-lg-3
                            img(src="images/konkurs-1.jpg", alt="", class="img-thumbnail")
                        .col-lg-9
                            p= product.description
                            p Стоимость участия — #{product.price} руб.
                    ul#tabs.nav.nav-tabs
                        li.active: a(href="#tab1", data-toggle="tab") Общие положения
                        li: a(href="#tab2", data-toggle="tab") Порядок проведения конкурса
                        li: a(href="#tab3", data-toggle="tab") Отправить заявку
                    .tab-content
                        #tab1.tab-pane.active
                            h3 Задачи конкурса
                            ul
                                li Изыскание, исследование и пропаганда духовного, культурного и нравственного наследия народов Российской Федерации.
                                li Рассмотрение опыта работы по культурному воспитанию детей и молодежи в образовательных учреждениях. Удовлетворение духовных, культурных, образовательных и информационных потребностей населения.
                                li Привлечение внимания общественности к данной проблеме, дать возможность педагогическому сообществу реализовать свой опыт в культурном воспитании подрастающего поколения.
                                li Сохранение культурной самобытности народов и создание условий для равной доступности культурных благ, развития и реализации культурного и духовного потенциала народов России и ближнего зарубежья, повышение роли культуры в современном мире.
                                li Создание условий для сохранения и развития многонационального культурного потенциала в областях Российской Федерации.
                                li Обеспечение реализации плана Минкультуры России во исполнение культурных мероприятий, обеспечение культурного обмена и сотрудничества в сфере национальных культур. Модернизация культуры в муниципальных образованиях Российской Федерации.
                            h3 Номинации конкурса
                            p= product.nomination_title
                            ul
                                each nomination in product.nominations
                                    li= nomination
                            h3 Категории работ
                            ul
                                each category in product.categories
                                    li= category
                            h3 Участники конкурса
                            ul
                                each user in product.users
                                    li= user

                        #tab2.tab-pane
                            h3 Порядок проведения конкурса
                            ul
                                li Конкурс проводится в один этап.
                                li Материалы, направленные на Конкурс, не рецензируются и не возвращаются.
                                li Организатор конкурса может вносить изменения в настоящее положение без уведомления участников конкурса.
                                li От каждого участника может быть направлено для участия в конкурсе несколько заявок.
                                li Участие в Конкурсе платное. Предусмотрен организационный взнос в размере <strong>#{product.price} рублей</strong> за каждую заявку, который будет потрачен на проведение экспертизы конкурсных проектов. Часть стоимости экспертной оценки софинансирует «РосКонкурс».
                                li Отправляя заявку участник соглашается с условиями настоящего положения о конкурсе, а также дает согласие на обработку и хранение персональных данных.
                            h3 Критерии оценки конкурсных работ
                            ul
                                li Соответствие работы заявленной теме — 10 баллов
                                li Оригинальность сценария или программы. Оригинальность подходов, технологий и методик, инновационных методов — 15 баллов
                                li Целеполагание (цели и выражающие их задачи) — 10 баллов
                                li Содержательность программы/сценария (содержательные блоки, содержательная полнота, наличие графического и фото материала) — 15 баллов
                                li Оформление конкурсного проекта согласно всем предъявляемым требованиям — 5 баллов
                            h3 Подведение итогов конкурса
                            ul
                                li Победители и призёры в каждой номинации награждаются Дипломами I, II, III степени
                                li Все участники Конкурса, представившие материалы на конкурс получают Сертификат участника
                                li Организационным комитетом Конкурса, поддерживающими организациями, спонсорами могут устанавливаться другие формы и методы поощрения его участников и победителей

                        #tab3.tab-pane
                            form.form(action="/application/create", method="POST")
                                input(type="hidden", name="id", value="#{product._id}")

                                legend Конкурсная работа
                                .form-group
                                    label.sr-only(for="formTitle") Название работы
                                    input#formTitle.form-control(type="text", name="title", placeholder="Название работы")
                                .form-group
                                    label(for="nomination") Выберите номинацию из списка
                                    select#nomination.form-control
                                        option Духовно-нравственное воспитание в дошкольном учреждении
                                        option Духовно-нравственное воспитание в начальной школе
                                        option Духовно-нравственное воспитание в средних классах
                                        option Духовно-нравственное воспитание в старших классах
                                        option Духовно-нравственное воспитание в учреждении дополнительного образования
                                        option Духовно-нравственное воспитание в воскресной школе
                                .form-group
                                    label(for="formInputFile") Конкурсная работа
                                    input#formInputFile(type="file")
                                    p.help-block Создайте архив файлов с материалами конкурса и загрузите его к нам на сервер
                                hr

                                legend Авторы и руководители проекта
                                    button.btn.btn-default.btn-xs + добавить
                                .form-author
                                    .row
                                        .col-lg-8
                                            .row
                                                .col-lg-6
                                                    .form-group
                                                        label.sr-only(for="role") Роль в проекте
                                                        select#role.form-control
                                                            option Автор
                                                            option Руководитель
                                            .row
                                                .col-lg-4
                                                    .form-group
                                                        label.sr-only(for="formAuthorLastname") Фамилия
                                                        input#formAuthorLastname.form-control.input-sm(placeholder="Фамилия")
                                                .col-lg-4
                                                    .form-group
                                                        label.sr-only(for="formAuthorFirstname") Имя
                                                        input#formAuthorFirstname.form-control.input-sm(placeholder="Имя")
                                                .col-lg-4
                                                    .form-group
                                                        label.sr-only(for="formAuthorMiddlename") Отчество
                                                        input#formAuthorMiddlename.form-control.input-sm(placeholder="Отчество")
                                            .row
                                                .col-lg-5
                                                    .form-group
                                                        label.sr-only(for="formAuthorProfession") Должность
                                                        input#formAuthorProfession.form-control.input-sm(placeholder="Должность")
                                                .col-lg-3
                                                    .form-group
                                                        label.sr-only(for="formAuthorAge") Возраст
                                                        input#formAuthorAge.form-control.input-sm(placeholder="Возраст")
                                        .col-lg-4
                                            .well
                                                strong Фамилия Имя Отчество<br>
                                                | 10 лет<br>
                                                | Должность<br>
                                                | Место работы
                                hr

                                legend Дополнительная информация
                                .row
                                    .col-lg-12
                                        .checkbox
                                            label
                                                input(type="checkbox", checked)
                                                | Требуется печатная версия (+100 руб.)
                                .row
                                    .col-lg-4
                                        .form-group
                                            label.sr-only(for="formQuantity") Количество экземпляров
                                            input#formQuantity.form-control(type="text", placeholder="Количество экземпляров")
                                .row
                                    .col-lg-4
                                        .form-group
                                            label.sr-only(for="formCity") Город
                                            input#formCity.form-control(type="text", placeholder="Город")
                                    .col-lg-4
                                        .form-group
                                            label.sr-only(for="formIndex") Индекс
                                            input#formIndex.form-control(type="text", placeholder="Индекс")
                                .row
                                    .col-lg-12
                                        .form-group
                                            label.sr-only(for="formAddress") Адрес
                                            textarea#formAddress.form-control(rows="2", placeholder="Адрес")
                                .row
                                    .col-lg-6
                                        .form-group
                                            label.sr-only(for="formCompany") Название организации
                                            input#formCompany.form-control(type="text", placeholder="Название организации")
                                hr

                                legend Способ оплаты
                                .row
                                    .col-lg-12
                                        .form-group
                                            .radio
                                                label
                                                    input#optionsRadios1(type="radio", name="optionsRadios", value="option1", checked)
                                                    | Банковский перевод
                                            .radio
                                                label
                                                    input#optionsRadios2(type="radio", name="optionsRadios", value="option2")
                                                    | Оплата банковской картой
                                            .radio
                                                label
                                                    input#optionsRadios3(type="radio", name="optionsRadios", value="option3")
                                                    | Электронные деньги
                                hr
                                .text-right
                                    .lead Стоимость участия — 500 руб.<br>
                                        | Печатная версия — 100 руб.<br>
                                        | <strong>Всего — 600 руб.</strong>

                                button.btn.btn-primary.btn-lg(type="submit") Отправить заявку
                .col-lg-3
                    .panel.panel-primary
                        .panel-heading: h4 Блоки конкурсов
                        .list-group
                            each item in sections
                                a(href="/catalog/#{item.url}", class=(item.url == section.url)?'list-group-item active':'list-group-item') #{item.title}
